/* light blue #003da5 */
/* navy blue #13294b */
/* yellow #ffc72c */

@font-face {
    font-family: 'Brewers';
    src: url('../BrewersIndustrial-Regular.woff') format('woff');
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    /* font-size: 5.4vw; */
    color:#13294b;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

nav,
footer {
    font-family: 'Brewers', Helvetica, sans-serif;
    background: #13294b;
    color: #ffc72c;
    text-transform:uppercase;
}

nav::after{
    content: "";
    clear: both;
    display: table;
}

nav ul,
footer ul {
    margin: 0;
    padding: 0;
    float: left;
}

footer ul {
    float: right;
}

nav ul li,
footer ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li a:link,
nav ul li a:visited,
footer ul li a:link,
footer ul li a:visited {
    color: #ffc72c;
    padding:20px 40px;
    float: left;
    text-decoration:none;
}

nav ul li a:hover,
nav ul li a:focus,
footer ul li a:hover,
footer ul li a:focus {
	color:#fff;
	background:#003da5;
}

div.copyright {
    padding:20px 40px;
    display: inline-block;
}

h1,
h2 {
    font-family: 'Brewers', Helvetica, sans-serif;
    background-color: #ffc72c;
}

h1 {
    width: 50%;
    text-align: center;
    padding: 48px 60px;
    margin: 0 auto;
}

h2 {
    padding: 24px 30px;
    margin: 0;
    display: inline-block;
}

img.center {
    display: block;
    width: 900px;
    margin: 20px auto;
}

img.round {
    border-radius: 20px ;
}

div.content {
    width: 50%;
    margin: 20px auto;
}

div.title { 
    text-decoration: underline;
    font-size: 1.2em;
}

div.location,
div.dates,
div.position {
    font-size: .75em;
    float: left;
    margin: 7px 20px 7px 0px;
}

div.gameLink {
    padding-top: 10px;
    padding-bottom: 40px;
    display: inline-block;
}

div.gameLink a {
    color:#13294b;
    font-family: 'Brewers', Helvetica, sans-serif;
    background-color: #ffc72c;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

div.gameLink a:hover {
    color: #ffc72c;
    background-color: #003da5;
  }

  @media only screen and (max-width: 1270px) {
    footer {
       font-size: .5em;
    }
 }