/* light blue #003da5 */
/* navy blue #13294b */
/* yellow #ffc72c */

@font-face {
    font-family: 'Brewers';
    src: url('BrewersIndustrial-Regular.woff') format('woff');
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

nav,
footer {
    font-family: 'Brewers', Helvetica, sans-serif;
}

nav::after{
    content: "";
    clear: both;
    display: table;
}

nav ul,
footer ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background-color: #13294b;
}

nav ul li,
footer ul li {
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li a:link,
nav ul li a:visited,
footer ul li a:link,
footer ul li a:visited {
    background-color: #13294b;
    color: #ffc72c;
    padding:20px 40px;
    float: left;
    text-decoration:none;
	text-transform:uppercase;
}

footer ul li a:link,
footer ul li a:visited {
    float: right;
}

nav ul li a:hover,
nav ul li a:focus,
footer ul li a:hover,
footer ul li a:focus {
	color:#fff;
	background:#003da5;
}

footer ul li#copyright {
    background-color: #13294b;
    color: #ffc72c;
    padding:20px 40px;
    float: left;
    text-decoration:none;
	text-transform:uppercase;
}

h1 {
    font-family: 'Brewers', Helvetica, sans-serif;
    background-color: #ffc72c;
    color:#13294b;
    width: 50%;
    text-align: center;
    padding: 48px 60px;
    margin: 0% 25%;
}
